=begin
#FlowAccount Open API

## Introduction  **Servers Production**    <site>Site:</site> https://www.flowaccount.com    <site>Api url:</site> https://openapi.flowaccount.com/v1    **Beta test**   <site>Site:</site> http://sandbox-new.flowaccount.com/    <site>Api url:</site> https://openapi.flowaccount.com/test    **PostMan Collection**   <site>Link:</site> https://www.getpostman.com/collections/01e7c68d7093e2092a64

The version of the OpenAPI document: 2-oas3
Contact: developer_support@flowaccount.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class BusinessInfomationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get business infomation
    # เรียกดูข้อมูลธรุกิจ
    # @param authorization [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompanyInfoResponse]
    def company_info_get(authorization, opts = {})
      data, _status_code, _headers = company_info_get_with_http_info(authorization, opts)
      data
    end

    # Get business infomation
    # เรียกดูข้อมูลธรุกิจ
    # @param authorization [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompanyInfoResponse, Integer, Hash)>] CompanyInfoResponse data, response status code and response headers
    def company_info_get_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessInfomationApi.company_info_get ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling BusinessInfomationApi.company_info_get"
      end
      # resource path
      local_var_path = '/company/info'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'CompanyInfoResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessInfomationApi#company_info_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit business infomation
    # แก้ไขข้อมูลธรุกิจ
    # @param authorization [String] 
    # @param company_info [CompanyInfo] 
    # @param [Hash] opts the optional parameters
    # @return [CompanyInfoResponse]
    def company_info_put(authorization, company_info, opts = {})
      data, _status_code, _headers = company_info_put_with_http_info(authorization, company_info, opts)
      data
    end

    # Edit business infomation
    # แก้ไขข้อมูลธรุกิจ
    # @param authorization [String] 
    # @param company_info [CompanyInfo] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompanyInfoResponse, Integer, Hash)>] CompanyInfoResponse data, response status code and response headers
    def company_info_put_with_http_info(authorization, company_info, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessInfomationApi.company_info_put ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling BusinessInfomationApi.company_info_put"
      end
      # verify the required parameter 'company_info' is set
      if @api_client.config.client_side_validation && company_info.nil?
        fail ArgumentError, "Missing the required parameter 'company_info' when calling BusinessInfomationApi.company_info_put"
      end
      # resource path
      local_var_path = '/company/info'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(company_info) 

      # return_type
      return_type = opts[:return_type] || 'CompanyInfoResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessInfomationApi#company_info_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
