=begin
#FlowAccount Open API

## Introduction  **Servers Production**    <site>Site:</site> https://www.flowaccount.com    <site>Api url:</site> https://openapi.flowaccount.com/v1    **Beta test**   <site>Site:</site> http://sandbox-new.flowaccount.com/    <site>Api url:</site> https://openapi.flowaccount.com/test    **PostMan Collection**   <site>Link:</site> https://www.getpostman.com/collections/01e7c68d7093e2092a64

The version of the OpenAPI document: 2-oas3
Contact: developer_support@flowaccount.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class ExpensesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Accounting categories expenses document.
    # เรียกดูข้อมูลหมวดหมู่เอกสารค่าใช้จ่าย (สำหรับนักบัญชี)
    # @param authorization [String] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessCategory]
    def expenses_categories_accounting_get(authorization, opts = {})
      data, _status_code, _headers = expenses_categories_accounting_get_with_http_info(authorization, opts)
      data
    end

    # Accounting categories expenses document.
    # เรียกดูข้อมูลหมวดหมู่เอกสารค่าใช้จ่าย (สำหรับนักบัญชี)
    # @param authorization [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessCategory, Integer, Hash)>] BusinessCategory data, response status code and response headers
    def expenses_categories_accounting_get_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_categories_accounting_get ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_categories_accounting_get"
      end
      # resource path
      local_var_path = '/expenses/categories/accounting'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'BusinessCategory' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_categories_accounting_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Business categories expenses document.
    # เรียกดูข้อมูลหมวดหมู่เอกสารค่าใช้จ่าย (สำหรับนักธุรกิจ)
    # @param authorization [String] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessCategory]
    def expenses_categories_business_get(authorization, opts = {})
      data, _status_code, _headers = expenses_categories_business_get_with_http_info(authorization, opts)
      data
    end

    # Business categories expenses document.
    # เรียกดูข้อมูลหมวดหมู่เอกสารค่าใช้จ่าย (สำหรับนักธุรกิจ)
    # @param authorization [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessCategory, Integer, Hash)>] BusinessCategory data, response status code and response headers
    def expenses_categories_business_get_with_http_info(authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_categories_business_get ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_categories_business_get"
      end
      # resource path
      local_var_path = '/expenses/categories/business'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'BusinessCategory' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_categories_business_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send email expenses document.
    # ส่งเอกสารค่าใช้จ่าย ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ
    # @param authorization [String] 
    # @param send_email_simple [SendEmailSimple] 
    # @param [Hash] opts the optional parameters
    # @return [SendEmailResponse]
    def expenses_email_document_post(authorization, send_email_simple, opts = {})
      data, _status_code, _headers = expenses_email_document_post_with_http_info(authorization, send_email_simple, opts)
      data
    end

    # Send email expenses document.
    # ส่งเอกสารค่าใช้จ่าย ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ
    # @param authorization [String] 
    # @param send_email_simple [SendEmailSimple] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendEmailResponse, Integer, Hash)>] SendEmailResponse data, response status code and response headers
    def expenses_email_document_post_with_http_info(authorization, send_email_simple, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_email_document_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_email_document_post"
      end
      # verify the required parameter 'send_email_simple' is set
      if @api_client.config.client_side_validation && send_email_simple.nil?
        fail ArgumentError, "Missing the required parameter 'send_email_simple' when calling ExpensesApi.expenses_email_document_post"
      end
      # resource path
      local_var_path = '/expenses/email-document'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(send_email_simple) 

      # return_type
      return_type = opts[:return_type] || 'SendEmailResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_email_document_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get list all expenses documents.
    # เรียกดูข้อมูลเอกสารค่าใช้จ่ายทั้งหมดในระบบ
    # @param current_page [Integer] Query current page expenses document. &lt;br&gt;Example Pattern: &lt;ex&gt;/expenses?currentPage&#x3D;1 &lt;/ex&gt;&lt;ex&gt;/expenses?currentPage&#x3D;1&amp;pageSize&#x3D;20&lt;/ex&gt;
    # @param page_size [Integer] Query expenses document list amount per page. &lt;br&gt;Example Pattern: &lt;ex&gt; /expenses?pageSize&#x3D;20 &lt;/ex&gt;
    # @param authorization [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Query sort by expense document. &lt;br&gt;Example Pattern: &lt;ex&gt; /expenses?sortBy&#x3D;[{&#39;name&#39;:&#39;publishedOn&#39;,&#39;sortOrder&#39;:&#39;asc&#39;},{&#39;name&#39;:&#39;documentSerial&#39;,&#39;sortOrder&#39;:&#39;desc&#39;}] &lt;/ex&gt;&lt;ex&gt;/expenses?sortBy&#x3D;[{&#39;name&#39;:&#39;Contact.NameLocal&#39;,&#39;sortOrder&#39;:&#39;desc&#39;},{&#39;name&#39;:&#39;documentSerial&#39;,&#39;sortOrder&#39;:&#39;desc&#39;}]&lt;/ex&gt;&lt;ex&gt;/expenses?sortBy&#x3D;[{&#39;name&#39;:&#39;Value&#39;,&#39;sortOrder&#39;:&#39;asc&#39;},{&#39;name&#39;:&#39;documentSerial&#39;,&#39;sortOrder&#39;:&#39;desc&#39;}]&lt;/ex&gt;&lt;ex&gt;/expenses?sortBy&#x3D;[{&#39;name&#39;:&#39;Status&#39;,&#39;sortOrder&#39;:&#39;asc&#39;},{&#39;name&#39;:&#39;documentSerial&#39;,&#39;sortOrder&#39;:&#39;desc&#39;}]&lt;/ex&gt;
    # @option opts [String] :filter Query filter expenses document. &lt;br&gt;Example Pattern: &lt;ex&gt; /expenses?filter&#x3D;[{&#39;columnName&#39;:&#39;Status&#39;,&#39;columnValue&#39;:&#39;processed&#39;,&#39;columnPredicateOperator&#39;:&#39;And&#39;}] &lt;/ex&gt;
    # @return [AllExpenseDocumentResponse]
    def expenses_get(current_page, page_size, authorization, opts = {})
      data, _status_code, _headers = expenses_get_with_http_info(current_page, page_size, authorization, opts)
      data
    end

    # Get list all expenses documents.
    # เรียกดูข้อมูลเอกสารค่าใช้จ่ายทั้งหมดในระบบ
    # @param current_page [Integer] Query current page expenses document. &lt;br&gt;Example Pattern: &lt;ex&gt;/expenses?currentPage&#x3D;1 &lt;/ex&gt;&lt;ex&gt;/expenses?currentPage&#x3D;1&amp;pageSize&#x3D;20&lt;/ex&gt;
    # @param page_size [Integer] Query expenses document list amount per page. &lt;br&gt;Example Pattern: &lt;ex&gt; /expenses?pageSize&#x3D;20 &lt;/ex&gt;
    # @param authorization [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_by Query sort by expense document. &lt;br&gt;Example Pattern: &lt;ex&gt; /expenses?sortBy&#x3D;[{&#39;name&#39;:&#39;publishedOn&#39;,&#39;sortOrder&#39;:&#39;asc&#39;},{&#39;name&#39;:&#39;documentSerial&#39;,&#39;sortOrder&#39;:&#39;desc&#39;}] &lt;/ex&gt;&lt;ex&gt;/expenses?sortBy&#x3D;[{&#39;name&#39;:&#39;Contact.NameLocal&#39;,&#39;sortOrder&#39;:&#39;desc&#39;},{&#39;name&#39;:&#39;documentSerial&#39;,&#39;sortOrder&#39;:&#39;desc&#39;}]&lt;/ex&gt;&lt;ex&gt;/expenses?sortBy&#x3D;[{&#39;name&#39;:&#39;Value&#39;,&#39;sortOrder&#39;:&#39;asc&#39;},{&#39;name&#39;:&#39;documentSerial&#39;,&#39;sortOrder&#39;:&#39;desc&#39;}]&lt;/ex&gt;&lt;ex&gt;/expenses?sortBy&#x3D;[{&#39;name&#39;:&#39;Status&#39;,&#39;sortOrder&#39;:&#39;asc&#39;},{&#39;name&#39;:&#39;documentSerial&#39;,&#39;sortOrder&#39;:&#39;desc&#39;}]&lt;/ex&gt;
    # @option opts [String] :filter Query filter expenses document. &lt;br&gt;Example Pattern: &lt;ex&gt; /expenses?filter&#x3D;[{&#39;columnName&#39;:&#39;Status&#39;,&#39;columnValue&#39;:&#39;processed&#39;,&#39;columnPredicateOperator&#39;:&#39;And&#39;}] &lt;/ex&gt;
    # @return [Array<(AllExpenseDocumentResponse, Integer, Hash)>] AllExpenseDocumentResponse data, response status code and response headers
    def expenses_get_with_http_info(current_page, page_size, authorization, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_get ...'
      end
      # verify the required parameter 'current_page' is set
      if @api_client.config.client_side_validation && current_page.nil?
        fail ArgumentError, "Missing the required parameter 'current_page' when calling ExpensesApi.expenses_get"
      end
      # verify the required parameter 'page_size' is set
      if @api_client.config.client_side_validation && page_size.nil?
        fail ArgumentError, "Missing the required parameter 'page_size' when calling ExpensesApi.expenses_get"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_get"
      end
      # resource path
      local_var_path = '/expenses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'currentPage'] = current_page
      query_params[:'pageSize'] = page_size
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'AllExpenseDocumentResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Attachment to expenses document.
    # แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารค่าใช้จ่ายตามเลขที่เอกสารที่ต้องการ
    # @param authorization [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file 
    # @return [AttachmentResponse]
    def expenses_id_attachment_post(authorization, id, opts = {})
      data, _status_code, _headers = expenses_id_attachment_post_with_http_info(authorization, id, opts)
      data
    end

    # Attachment to expenses document.
    # แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารค่าใช้จ่ายตามเลขที่เอกสารที่ต้องการ
    # @param authorization [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [File] :file 
    # @return [Array<(AttachmentResponse, Integer, Hash)>] AttachmentResponse data, response status code and response headers
    def expenses_id_attachment_post_with_http_info(authorization, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_id_attachment_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_id_attachment_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExpensesApi.expenses_id_attachment_post"
      end
      # resource path
      local_var_path = '/expenses/{id}/attachment'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'AttachmentResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_id_attachment_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete expenses document.
    # ลบ เอกสารค่าใช้จ่าย ตามเลขที่เอกสารที่ต้องการ <br> ** การลบเอกสาร เอกสารต้องอยู่ในสถานะ รอดำเนินการ 
    # @param authorization [String] 
    # @param id [String] ID เอกสารใช้ recordId
    # @param [Hash] opts the optional parameters
    # @return [DeleteResponse]
    def expenses_id_delete(authorization, id, opts = {})
      data, _status_code, _headers = expenses_id_delete_with_http_info(authorization, id, opts)
      data
    end

    # Delete expenses document.
    # ลบ เอกสารค่าใช้จ่าย ตามเลขที่เอกสารที่ต้องการ &lt;br&gt; ** การลบเอกสาร เอกสารต้องอยู่ในสถานะ รอดำเนินการ 
    # @param authorization [String] 
    # @param id [String] ID เอกสารใช้ recordId
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteResponse, Integer, Hash)>] DeleteResponse data, response status code and response headers
    def expenses_id_delete_with_http_info(authorization, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_id_delete ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_id_delete"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExpensesApi.expenses_id_delete"
      end
      # resource path
      local_var_path = '/expenses/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'DeleteResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get expenses document.
    # เรียกดูข้อมูลเอกสารค่าใช้จ่ายตามเลขที่เอกสารที่ต้องการ
    # @param authorization [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AllExpenseDocumentResponse]
    def expenses_id_get(authorization, id, opts = {})
      data, _status_code, _headers = expenses_id_get_with_http_info(authorization, id, opts)
      data
    end

    # Get expenses document.
    # เรียกดูข้อมูลเอกสารค่าใช้จ่ายตามเลขที่เอกสารที่ต้องการ
    # @param authorization [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AllExpenseDocumentResponse, Integer, Hash)>] AllExpenseDocumentResponse data, response status code and response headers
    def expenses_id_get_with_http_info(authorization, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_id_get ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_id_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExpensesApi.expenses_id_get"
      end
      # resource path
      local_var_path = '/expenses/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'AllExpenseDocumentResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change status is paid expenses document.
    # ชำระเงิน เอกสารค่าใช้จ่ายเปลี่ยน สถานะเป็น ชำระเงินแล้ว
    # @param authorization [String] 
    # @param id [String] ID เอกสารใช้ recordId หรือ documentId
    # @param payment_paid_document [PaymentPaidDocument] 
    # @param [Hash] opts the optional parameters
    # @return [ExpenseSimpleDocumentResponse]
    def expenses_id_payment_post(authorization, id, payment_paid_document, opts = {})
      data, _status_code, _headers = expenses_id_payment_post_with_http_info(authorization, id, payment_paid_document, opts)
      data
    end

    # Change status is paid expenses document.
    # ชำระเงิน เอกสารค่าใช้จ่ายเปลี่ยน สถานะเป็น ชำระเงินแล้ว
    # @param authorization [String] 
    # @param id [String] ID เอกสารใช้ recordId หรือ documentId
    # @param payment_paid_document [PaymentPaidDocument] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpenseSimpleDocumentResponse, Integer, Hash)>] ExpenseSimpleDocumentResponse data, response status code and response headers
    def expenses_id_payment_post_with_http_info(authorization, id, payment_paid_document, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_id_payment_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_id_payment_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExpensesApi.expenses_id_payment_post"
      end
      # verify the required parameter 'payment_paid_document' is set
      if @api_client.config.client_side_validation && payment_paid_document.nil?
        fail ArgumentError, "Missing the required parameter 'payment_paid_document' when calling ExpensesApi.expenses_id_payment_post"
      end
      # resource path
      local_var_path = '/expenses/{id}/payment'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(payment_paid_document) 

      # return_type
      return_type = opts[:return_type] || 'ExpenseSimpleDocumentResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_id_payment_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit expenses document.
    # แก้ไขข้อมูลเอกสารค่าใช้จ่าย ตามเลขที่เอกสารที่ต้องการเอกสารต้องเป็นสถานะ รอดำเนินการ (Awaiting)
    # @param authorization [String] 
    # @param id [String] ID เอกสารใช้ recordId
    # @param update_expense_document [UpdateExpenseDocument] 
    # @param [Hash] opts the optional parameters
    # @return [ExpenseInlineDocumentResponse]
    def expenses_id_put(authorization, id, update_expense_document, opts = {})
      data, _status_code, _headers = expenses_id_put_with_http_info(authorization, id, update_expense_document, opts)
      data
    end

    # Edit expenses document.
    # แก้ไขข้อมูลเอกสารค่าใช้จ่าย ตามเลขที่เอกสารที่ต้องการเอกสารต้องเป็นสถานะ รอดำเนินการ (Awaiting)
    # @param authorization [String] 
    # @param id [String] ID เอกสารใช้ recordId
    # @param update_expense_document [UpdateExpenseDocument] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpenseInlineDocumentResponse, Integer, Hash)>] ExpenseInlineDocumentResponse data, response status code and response headers
    def expenses_id_put_with_http_info(authorization, id, update_expense_document, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_id_put ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_id_put"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExpensesApi.expenses_id_put"
      end
      # verify the required parameter 'update_expense_document' is set
      if @api_client.config.client_side_validation && update_expense_document.nil?
        fail ArgumentError, "Missing the required parameter 'update_expense_document' when calling ExpensesApi.expenses_id_put"
      end
      # resource path
      local_var_path = '/expenses/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(update_expense_document) 

      # return_type
      return_type = opts[:return_type] || 'ExpenseInlineDocumentResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change status expenses document.
    # เปลี่ยนสถานะของเอกสารค่าใช้จ่าย สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ รอดำเนินการ (awaiting)
    # @param authorization [String] 
    # @param id [String] ID เอกสารใช้ recordId
    # @param status_id [String] เปลี่ยนสถานะเอกสารได้ 3 สถานะ &lt;br&gt; awaiting &#x3D; รอดำเนินการ &lt;br&gt; received &#x3D; รับใบเสร็จแล้ว &lt;br&gt; void &#x3D; ยกเลิก
    # @param [Hash] opts the optional parameters
    # @return [ExpenseInlineDocumentResponse]
    def expenses_id_status_status_id_post(authorization, id, status_id, opts = {})
      data, _status_code, _headers = expenses_id_status_status_id_post_with_http_info(authorization, id, status_id, opts)
      data
    end

    # Change status expenses document.
    # เปลี่ยนสถานะของเอกสารค่าใช้จ่าย สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ รอดำเนินการ (awaiting)
    # @param authorization [String] 
    # @param id [String] ID เอกสารใช้ recordId
    # @param status_id [String] เปลี่ยนสถานะเอกสารได้ 3 สถานะ &lt;br&gt; awaiting &#x3D; รอดำเนินการ &lt;br&gt; received &#x3D; รับใบเสร็จแล้ว &lt;br&gt; void &#x3D; ยกเลิก
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpenseInlineDocumentResponse, Integer, Hash)>] ExpenseInlineDocumentResponse data, response status code and response headers
    def expenses_id_status_status_id_post_with_http_info(authorization, id, status_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_id_status_status_id_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_id_status_status_id_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExpensesApi.expenses_id_status_status_id_post"
      end
      # verify the required parameter 'status_id' is set
      if @api_client.config.client_side_validation && status_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_id' when calling ExpensesApi.expenses_id_status_status_id_post"
      end
      # resource path
      local_var_path = '/expenses/{id}/status/{statusId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'statusId' + '}', CGI.escape(status_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'ExpenseInlineDocumentResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_id_status_status_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create expenses document inline discount or inline vat.
    # สร้างเอกสารค่าใช้จ่าย แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting)
    # @param authorization [String] 
    # @param expense_inline_document [ExpenseInlineDocument] 
    # @param [Hash] opts the optional parameters
    # @return [ExpenseInlineDocumentResponse]
    def expenses_inline_post(authorization, expense_inline_document, opts = {})
      data, _status_code, _headers = expenses_inline_post_with_http_info(authorization, expense_inline_document, opts)
      data
    end

    # Create expenses document inline discount or inline vat.
    # สร้างเอกสารค่าใช้จ่าย แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting)
    # @param authorization [String] 
    # @param expense_inline_document [ExpenseInlineDocument] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpenseInlineDocumentResponse, Integer, Hash)>] ExpenseInlineDocumentResponse data, response status code and response headers
    def expenses_inline_post_with_http_info(authorization, expense_inline_document, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_inline_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_inline_post"
      end
      # verify the required parameter 'expense_inline_document' is set
      if @api_client.config.client_side_validation && expense_inline_document.nil?
        fail ArgumentError, "Missing the required parameter 'expense_inline_document' when calling ExpensesApi.expenses_inline_post"
      end
      # resource path
      local_var_path = '/expenses/inline'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(expense_inline_document) 

      # return_type
      return_type = opts[:return_type] || 'ExpenseInlineDocumentResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_inline_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create expenses document inline discount or inline vat with payment.
    # สร้างเอกสารค่าใช้จ่าย แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า พร้อมชำระเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ ชำระเงินแล้ว (paid)
    # @param authorization [String] 
    # @param expense_inline_document_with_payment_paid [ExpenseInlineDocumentWithPaymentPaid] 
    # @param [Hash] opts the optional parameters
    # @return [ExpenseInlineDocumentResponse]
    def expenses_inline_with_payment_post(authorization, expense_inline_document_with_payment_paid, opts = {})
      data, _status_code, _headers = expenses_inline_with_payment_post_with_http_info(authorization, expense_inline_document_with_payment_paid, opts)
      data
    end

    # Create expenses document inline discount or inline vat with payment.
    # สร้างเอกสารค่าใช้จ่าย แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า พร้อมชำระเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ ชำระเงินแล้ว (paid)
    # @param authorization [String] 
    # @param expense_inline_document_with_payment_paid [ExpenseInlineDocumentWithPaymentPaid] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpenseInlineDocumentResponse, Integer, Hash)>] ExpenseInlineDocumentResponse data, response status code and response headers
    def expenses_inline_with_payment_post_with_http_info(authorization, expense_inline_document_with_payment_paid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_inline_with_payment_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_inline_with_payment_post"
      end
      # verify the required parameter 'expense_inline_document_with_payment_paid' is set
      if @api_client.config.client_side_validation && expense_inline_document_with_payment_paid.nil?
        fail ArgumentError, "Missing the required parameter 'expense_inline_document_with_payment_paid' when calling ExpensesApi.expenses_inline_with_payment_post"
      end
      # resource path
      local_var_path = '/expenses/inline/with-payment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(expense_inline_document_with_payment_paid) 

      # return_type
      return_type = opts[:return_type] || 'ExpenseInlineDocumentResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_inline_with_payment_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create expenses document.
    # สร้างเอกสารค่าใช้จ่าย เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting)
    # @param authorization [String] 
    # @param expense_simple_document [ExpenseSimpleDocument] 
    # @param [Hash] opts the optional parameters
    # @return [ExpenseSimpleDocumentResponse]
    def expenses_post(authorization, expense_simple_document, opts = {})
      data, _status_code, _headers = expenses_post_with_http_info(authorization, expense_simple_document, opts)
      data
    end

    # Create expenses document.
    # สร้างเอกสารค่าใช้จ่าย เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting)
    # @param authorization [String] 
    # @param expense_simple_document [ExpenseSimpleDocument] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpenseSimpleDocumentResponse, Integer, Hash)>] ExpenseSimpleDocumentResponse data, response status code and response headers
    def expenses_post_with_http_info(authorization, expense_simple_document, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_post"
      end
      # verify the required parameter 'expense_simple_document' is set
      if @api_client.config.client_side_validation && expense_simple_document.nil?
        fail ArgumentError, "Missing the required parameter 'expense_simple_document' when calling ExpensesApi.expenses_post"
      end
      # resource path
      local_var_path = '/expenses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(expense_simple_document) 

      # return_type
      return_type = opts[:return_type] || 'ExpenseSimpleDocumentResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Share link expenses document.
    # แชร์ลิงค์ เอกสารค่าใช้จ่าย ที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร
    # @param authorization [String] 
    # @param share_document [ShareDocument] 
    # @param [Hash] opts the optional parameters
    # @return [ShareDocumentResponse]
    def expenses_sharedocument_post(authorization, share_document, opts = {})
      data, _status_code, _headers = expenses_sharedocument_post_with_http_info(authorization, share_document, opts)
      data
    end

    # Share link expenses document.
    # แชร์ลิงค์ เอกสารค่าใช้จ่าย ที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร
    # @param authorization [String] 
    # @param share_document [ShareDocument] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShareDocumentResponse, Integer, Hash)>] ShareDocumentResponse data, response status code and response headers
    def expenses_sharedocument_post_with_http_info(authorization, share_document, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_sharedocument_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_sharedocument_post"
      end
      # verify the required parameter 'share_document' is set
      if @api_client.config.client_side_validation && share_document.nil?
        fail ArgumentError, "Missing the required parameter 'share_document' when calling ExpensesApi.expenses_sharedocument_post"
      end
      # resource path
      local_var_path = '/expenses/sharedocument'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(share_document) 

      # return_type
      return_type = opts[:return_type] || 'ShareDocumentResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_sharedocument_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create expenses document with payment.
    # สร้างเอกสารค่าใช้จ่าย พร้อมชำระเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ ชำระเงินแล้ว (paid)
    # @param authorization [String] 
    # @param expense_simple_document_with_payment_paid [ExpenseSimpleDocumentWithPaymentPaid] 
    # @param [Hash] opts the optional parameters
    # @return [ExpenseSimpleDocumentResponse]
    def expenses_with_payment_post(authorization, expense_simple_document_with_payment_paid, opts = {})
      data, _status_code, _headers = expenses_with_payment_post_with_http_info(authorization, expense_simple_document_with_payment_paid, opts)
      data
    end

    # Create expenses document with payment.
    # สร้างเอกสารค่าใช้จ่าย พร้อมชำระเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ ชำระเงินแล้ว (paid)
    # @param authorization [String] 
    # @param expense_simple_document_with_payment_paid [ExpenseSimpleDocumentWithPaymentPaid] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpenseSimpleDocumentResponse, Integer, Hash)>] ExpenseSimpleDocumentResponse data, response status code and response headers
    def expenses_with_payment_post_with_http_info(authorization, expense_simple_document_with_payment_paid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesApi.expenses_with_payment_post ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling ExpensesApi.expenses_with_payment_post"
      end
      # verify the required parameter 'expense_simple_document_with_payment_paid' is set
      if @api_client.config.client_side_validation && expense_simple_document_with_payment_paid.nil?
        fail ArgumentError, "Missing the required parameter 'expense_simple_document_with_payment_paid' when calling ExpensesApi.expenses_with_payment_post"
      end
      # resource path
      local_var_path = '/expenses/with-payment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(expense_simple_document_with_payment_paid) 

      # return_type
      return_type = opts[:return_type] || 'ExpenseSimpleDocumentResponse' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesApi#expenses_with_payment_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
