openapi: 3.0.2
info:
  contact:
    email: developer_support@flowaccount.com
    url: https://www.flowaccount.com
  description: "# Introduction \n**Servers Production** \n\n <site>Site:</site> https://www.flowaccount.com\
    \ \n\n <site>Api url:</site> https://openapi.flowaccount.com/v1 \n\n **Beta test**\n\
    \n <site>Site:</site> http://sandbox-new.flowaccount.com/ \n\n <site>Api url:</site>\
    \ https://openapi.flowaccount.com/test \n\n **PostMan Collection**\n\n <site>Link:</site>\
    \ https://www.getpostman.com/collections/01e7c68d7093e2092a64"
  termsOfService: https://flowadvance.com/policy/terms-of-use
  title: FlowAccount Open API
  version: 2-oas3
  x-logo:
    url: ./image/FlowAccount_logo.svg
servers:
- description: Production - https://flowaccount.com
  url: https://openapi.flowaccount.com/v1
- description: Sandbox - http://sandbox-new.flowaccount.com
  url: https://openapi.flowaccount.com/test
paths:
  /quotations:
    get:
      description: เรียกดูข้อมูลเอกสารใบเสนอราคาทั้งหมดในระบบ
      parameters:
      - description: 'Query current page document quotations. <br>Example Pattern:
          <ex>/quotations?currentPage=1 </ex><ex>/quotations?currentPage=1&pageSize=20</ex>'
        explode: true
        in: query
        name: currentPage
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document quotations list amount per page. <br>Example
          Pattern: <ex> /quotations?pageSize=20 </ex>'
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document quotations list amount per page. <br>Example
          Pattern: <ex> /quotations?sortBy=[{''name'':''publishedOn'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]
          </ex><ex>/quotations?sortBy=[{''name'':''Contact.NameLocal'',''sortOrder'':''desc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/quotations?sortBy=[{''name'':''Value'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/quotations?sortBy=[{''name'':''Status'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex>'
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get list all quotations documents.
      tags:
      - Quotations
      x-accepts: application/json
    post:
      description: 'สร้างเอกสารใบเสนอราคา เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รออนุมัติ (awaiting) <br> <br> ข้อมูลการออกเอกสารใบเสนอราคา : https://flowaccount.com/blog/ใบเสนอราคา'
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SimpleDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create quotations document.
      tags:
      - Quotations
      x-contentType: application/json
      x-accepts: application/json
  /quotations/inline:
    post:
      description: 'สร้างเอกสารใบเสนอราคา แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รออนุมัติ (awaiting) <br> <br> ข้อมูลการออกเอกสารใบเสนอราคา : https://flowaccount.com/blog/ใบเสนอราคา'
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InlineDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create quotations document with discount and tax inline.
      tags:
      - Quotations
      x-contentType: application/json
      x-accepts: application/json
  /quotations/{id}:
    delete:
      description: 'ลบ เอกสารใบเสนอราคาตามเลขที่เอกสารที่ต้องการ <br> ** การลบเอกสาร
        เอกสารต้องอยู่ในสถานะ รออนุมัติ '
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Delete quotations document.
      tags:
      - Quotations
      x-accepts: application/json
    get:
      description: เรียกดูข้อมูลเอกสารใบเสนอราคาตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get quotations document.
      tags:
      - Quotations
      x-accepts: application/json
    put:
      description: แก้ไขข้อมูลเอกสารใบเสนอราคา ตามเลขที่เอกสารที่ต้องการและเอกสารต้องเป็นสถานะ
        รออนุมัติ (Awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Edit quotations document.
      tags:
      - Quotations
      x-contentType: application/json
      x-accepts: application/json
  /quotations/{id}/status/{statusId}:
    post:
      description: เปลี่ยนสถานะของเอกสารใบเสนอราคา สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ
        รออนุมัติ (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: เปลี่ยนสถานะเอกสารได้ 4 สถานะ <br> awaiting = รออนุมัติ <br>
          approved = อนุมัติ <br> approvedandprocessed = ดำเนินการแล้ว <br> rejected
          = ยกเลิก
        explode: false
        in: path
        name: statusId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Change status of quotations document.
      tags:
      - Quotations
      x-accepts: application/json
  /quotations/{id}/attachment:
    post:
      description: แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารใบเสนอราคาตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: documentId หรือ recordId ของเอกสารที่ต้องการแนบ
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: รูปแบบ file ที่ใช้แนบในเอกสารเป็นแบบ Binary
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Add Attachment to quotations document.
      tags:
      - Quotations
      x-contentType: multipart/form-data
      x-accepts: application/json
  /quotations/email-document:
    post:
      description: ส่งเอกสารใบเสนอราคา ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SendEmailSimple'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Send email quotations document.
      tags:
      - Quotations
      x-contentType: application/json
      x-accepts: application/json
  /quotations/sharedocument:
    post:
      description: แชร์ลิงค์ เอกสารใบเสนอราคาที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ShareDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Share link quotations document.
      tags:
      - Quotations
      x-contentType: application/json
      x-accepts: application/json
  /billing-notes:
    get:
      description: เรียกดูข้อมูลเอกสารใบวางบิลทั้งหมดในระบบ
      parameters:
      - description: 'Query current page document billing notes. <br>Example Pattern:
          <ex>/billing-notes?currentPage=1 </ex><ex>/billing-notes?currentPage=1&pageSize=20</ex>'
        explode: true
        in: query
        name: currentPage
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document billing notes list amount per page. <br>Example
          Pattern: <ex> /billing-notes?pageSize=20 </ex>'
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document billing notes list amount per page. <br>Example
          Pattern: <ex> /billing-notes?sortBy=[{''name'':''publishedOn'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]
          </ex><ex>/billing-notes?sortBy=[{''name'':''Contact.NameLocal'',''sortOrder'':''desc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/billing-notes?sortBy=[{''name'':''Value'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/billing-notes?sortBy=[{''name'':''Status'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex>'
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get list all billing notes documents.
      tags:
      - Billing Notes
      x-accepts: application/json
    post:
      description: 'สร้างเอกสารใบวางบิล เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอวาบิล
        (awaiting) <br> <br> ข้อมูลการออกเอกสารใบวางบิล : https://flowaccount.com/blog/ใบวางบิล-ใบแจ้งหนี้'
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SimpleDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create billing notes document.
      tags:
      - Billing Notes
      x-contentType: application/json
      x-accepts: application/json
  /billing-notes/inline:
    post:
      description: 'สร้างเอกสารใบวางบิล แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รอวางบิล (awaiting) <br> <br> ข้อมูลการออกเอกสารใบวางบิล : https://flowaccount.com/blog/ใบวางบิล-ใบแจ้งหนี้'
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InlineDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create billing notes document with discount and tax inline.
      tags:
      - Billing Notes
      x-contentType: application/json
      x-accepts: application/json
  /billing-notes/{id}:
    delete:
      description: 'ลบ เอกสารใบวางบิล ตามเลขที่เอกสารที่ต้องการ <br> ** การลบเอกสาร
        เอกสารต้องอยู่ในสถานะ รอวางบิล '
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Delete billing notes document.
      tags:
      - Billing Notes
      x-accepts: application/json
    get:
      description: เรียกดูข้อมูลเอกสารใบวางบิลตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get billing notes document.
      tags:
      - Billing Notes
      x-accepts: application/json
    put:
      description: แก้ไขข้อมูลเอกสารใบวางบิล ตามเลขที่เอกสารที่ต้องการและเอกสารต้องเป็นสถานะ
        รอวางบิล (Awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Edit billing notes document.
      tags:
      - Billing Notes
      x-contentType: application/json
      x-accepts: application/json
  /billing-notes/{id}/status/{statusId}:
    post:
      description: เปลี่ยนสถานะของเอกสารใบวางบิล สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ
        รอวางบิล (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: เปลี่ยนสถานะเอกสารได้ 4 สถานะ <br> awaiting = รอวางบิล <br> approved
          = วางบิลแล้ว <br> approvedandprocessed = เปิดบิลแล้ว <br> void = ยกเลิก
        explode: false
        in: path
        name: statusId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Change status of billing notes document.
      tags:
      - Billing Notes
      x-accepts: application/json
  /billing-notes/{id}/attachment:
    post:
      description: แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารใบวางบิลตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: documentId หรือ recordId ของเอกสารที่ต้องการแนบ
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: รูปแบบ file ที่ใช้แนบในเอกสารเป็นแบบ Binary
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Add Attachment to billing notes document.
      tags:
      - Billing Notes
      x-contentType: multipart/form-data
      x-accepts: application/json
  /billing-notes/email-document:
    post:
      description: ส่งเอกสารใบวางบิล ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SendEmailCoppies'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Send email billing notes document.
      tags:
      - Billing Notes
      x-contentType: application/json
      x-accepts: application/json
  /billing-notes/sharedocument:
    post:
      description: แชร์ลิงค์ เอกสารใบวางบิลที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ShareDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Share link billing notes document.
      tags:
      - Billing Notes
      x-contentType: application/json
      x-accepts: application/json
  /tax-invoices:
    get:
      description: เรียกดูข้อมูลเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน
        ทั้งหมดในระบบ
      parameters:
      - description: 'Query current page document tax invoices. <br>Example Pattern:
          <ex>/tax-invoices?currentPage=1 </ex><ex>/tax-invoices?currentPage=1&pageSize=20</ex>'
        explode: true
        in: query
        name: currentPage
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document tax invoices list amount per page. <br>Example
          Pattern: <ex> /tax-invoices?pageSize=20 </ex>'
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document tax invoices list amount per page. <br>Example
          Pattern: <ex> /tax-invoices?sortBy=[{''name'':''publishedOn'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]
          </ex><ex>/tax-invoices?sortBy=[{''name'':''Contact.NameLocal'',''sortOrder'':''desc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/tax-invoices?sortBy=[{''name'':''Value'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/tax-invoices?sortBy=[{''name'':''Status'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex>'
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get list all tax invocie documents.
      tags:
      - Tax Invoice
      x-accepts: application/json
    post:
      description: 'สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รอดำเนินการ (awaiting) <br> <br> ข้อมูลการออกเอกสารใบกำกับภาษี : https://flowaccount.com/blog/ใบกำกับภาษี'
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SimpleDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create tax invocie document.
      tags:
      - Tax Invoice
      x-contentType: application/json
      x-accepts: application/json
  /tax-invoices/with-payment:
    post:
      description: สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน พร้อมเก็บเงิน
        เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ เก็บเงินแล้ว (paid)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SimpleDocumentWithPaymentReceiving'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create tax invocie document with payment.
      tags:
      - Tax Invoice
      x-contentType: application/json
      x-accepts: application/json
  /tax-invoices/inline:
    post:
      description: 'สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน แบบส่วนลด
        หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ
        (awaiting) <br> <br> ข้อมูลการออกเอกสารใบกำกับภาษี : https://flowaccount.com/blog/ใบกำกับภาษี'
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InlineDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create tax invocie document with discount and tax inline.
      tags:
      - Tax Invoice
      x-contentType: application/json
      x-accepts: application/json
  /tax-invoices/inline/with-payment:
    post:
      description: สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน แบบส่วนลด
        หรือ ภาษี แยกตามรายการสินค้าพร้อมเก็บเงิน <br>เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        เก็บเงินแล้ว (paid)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InlineDocumentWithPaymentReceiving'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create tax invocie document with discount and tax inline with payment.
      tags:
      - Tax Invoice
      x-contentType: application/json
      x-accepts: application/json
  /tax-invoices/{id}:
    delete:
      description: 'ลบ เอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ
        <br> ** การลบเอกสาร เอกสารต้องอยู่ในสถานะรอดำเนินการ '
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Delete tax invoices document.
      tags:
      - Tax Invoice
      x-accepts: application/json
    get:
      description: เรียกดูข้อมูลเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน
        ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - description: ID เอกสารใช้ recordId
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get tax invoices document.
      tags:
      - Tax Invoice
      x-accepts: application/json
    put:
      description: แก้ไขข้อมูลเอกสารใบกำกับภาษี ตามเลขที่เอกสารที่ต้องการและเอกสารต้องเป็นสถานะ
        รอดำเนินการ (Awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Edit tax invoices document.
      tags:
      - Tax Invoice
      x-contentType: application/json
      x-accepts: application/json
  /tax-invoices/{id}/status/{statusId}:
    post:
      description: เปลี่ยนสถานะของเอกสารเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน
        สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ รอดำเนินการ (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: เปลี่ยนสถานะเอกสารได้ 3 สถานะ <br> awaiting = รอดำเนินการ <br>
          invoicedelivered = รอเก็บเงิน <br> void = ยกเลิก
        explode: false
        in: path
        name: statusId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Change status of tax invoices document.
      tags:
      - Tax Invoice
      x-accepts: application/json
  /tax-invoices/{id}/payment:
    post:
      description: เก็บเงิน เอกสารใบกำกับภาษี/ใบเสร็จรับเงิน เปลี่ยนสถานะเป็น เก็บเงินแล้ว
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId หรือ documentId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PaymentReceivingDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Change paid status of tax-invoice document.
      tags:
      - Tax Invoice
      x-contentType: application/json
      x-accepts: application/json
  /tax-invoices/{id}/attachment:
    post:
      description: แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารใบกำกับภาษี หรือ
        ใบกำกับภาษี/ใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: documentId หรือ recordId ของเอกสารที่ต้องการแนบ
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: รูปแบบ file ที่ใช้แนบในเอกสารเป็นแบบ Binary
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Add Attachment to tax Invoices document.
      tags:
      - Tax Invoice
      x-contentType: multipart/form-data
      x-accepts: application/json
  /tax-invoices/email-document:
    post:
      description: ส่งเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน ผ่านทางอีเมล
        ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SendEmailCoppies'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Send Email tax invoice document
      tags:
      - Tax Invoice
      x-contentType: application/json
      x-accepts: application/json
  /tax-invoices/sharedocument:
    post:
      description: แชร์ลิงค์ เอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน ที่ต้องการ
        จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ShareDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Share link tax invoice document.
      tags:
      - Tax Invoice
      x-contentType: application/json
      x-accepts: application/json
  /receipts:
    get:
      description: เรียกดูข้อมูลเอกสารใบเสร็จรับเงิน ทั้งหมดในระบบ
      parameters:
      - description: 'Query current page document receipts. <br>Example Pattern: <ex>/receipts?currentPage=1
          </ex><ex>/receipts?currentPage=1&pageSize=20</ex>'
        explode: true
        in: query
        name: currentPage
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document receipts list amount per page. <br>Example Pattern:
          <ex> /receipts?pageSize=20 </ex>'
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document receipts list amount per page. <br>Example Pattern:
          <ex> /receipts?sortBy=[{''name'':''publishedOn'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]
          </ex><ex>/receipts?sortBy=[{''name'':''Contact.NameLocal'',''sortOrder'':''desc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/receipts?sortBy=[{''name'':''Value'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/receipts?sortBy=[{''name'':''Status'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex>'
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get list all receipt documents
      tags:
      - Receipt
      x-accepts: application/json
    post:
      description: 'สร้างเอกสารใบเสร็จรับเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รอดำเนินการ (awaiting) <br> <br> ข้อมูลการออกเอกสารใบเสร็จรับเงิน : https://flowaccount.com/blog/ใบเสร็จรับเงิน'
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SimpleDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create receipt document.
      tags:
      - Receipt
      x-contentType: application/json
      x-accepts: application/json
  /receipts/with-payment:
    post:
      description: สร้างเอกสารใบเสร็จรับเงิน พร้อมเก็บเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        เก็บเงินแล้ว (paid)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SimpleDocumentWithPaymentReceiving'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create receipt document with payment.
      tags:
      - Receipt
      x-contentType: application/json
      x-accepts: application/json
  /receipts/inline:
    post:
      description: 'สร้างเอกสารใบเสร็จรับเงิน แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า
        เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting) <br> <br>
        ข้อมูลการออกเอกสารใบเสร็จรับเงิน : https://flowaccount.com/blog/ใบเสร็จรับเงิน'
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InlineDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create receipt document with discount and tax inline.
      tags:
      - Receipt
      x-contentType: application/json
      x-accepts: application/json
  /receipts/inline/with-payment:
    post:
      description: สร้างเอกสารใบเสร็จรับเงิน แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้าพร้อมเก็บเงิน
        <br>เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ เก็บเงินแล้ว (paid)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InlineDocumentWithPaymentReceiving'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create receipt document with discount and tax inline with payment.
      tags:
      - Receipt
      x-contentType: application/json
      x-accepts: application/json
  /receipts/{id}:
    delete:
      description: 'ลบ เอกสารใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ <br> ** การลบเอกสาร
        เอกสารต้องอยู่ในสถานะ รอดำเนินการ '
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Delete receipt document.
      tags:
      - Receipt
      x-accepts: application/json
    get:
      description: เรียกดูข้อมูลเอกสารใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get receipt document.
      tags:
      - Receipt
      x-accepts: application/json
    put:
      description: แก้ไขข้อมูลเอกสารใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการและเอกสารต้องเป็นสถานะ
        รอดำเนินการ (Awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Edit receipt document.
      tags:
      - Receipt
      x-contentType: application/json
      x-accepts: application/json
  /receipts/{id}/status/{statusId}:
    post:
      description: เปลี่ยนสถานะของเอกสารใบเสร็จรับเงิน สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ
        รอดำเนินการ (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: เปลี่ยนสถานะเอกสารได้ 1 สถานะ <br> void = ยกเลิก
        explode: false
        in: path
        name: statusId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Change status of receipt document.
      tags:
      - Receipt
      x-accepts: application/json
  /receipts/{id}/payment:
    post:
      description: เก็บเงิน เอกสารใบเสร็จรับเงิน (เงินสด) เปลี่ยนสถานะเป็น เก็บเงินแล้ว
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId หรือ documentId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PaymentReceivingDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Change paid status of receipt document.
      tags:
      - Receipt
      x-contentType: application/json
      x-accepts: application/json
  /receipts/{id}/attachment:
    post:
      description: แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารใบเสร็จรับเงิน
        ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: documentId หรือ recordId ของเอกสารที่ต้องการแนบ
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: รูปแบบ file ที่ใช้แนบในเอกสารเป็นแบบ Binary
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Add Attachment to receipt document.
      tags:
      - Receipt
      x-contentType: multipart/form-data
      x-accepts: application/json
  /receipts/email-document:
    post:
      description: ส่งเอกสารใบเสร็จรับเงิน ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SendEmailCoppies'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Send email receipt document.
      tags:
      - Receipt
      x-contentType: application/json
      x-accepts: application/json
  /receipts/sharedocument:
    post:
      description: แชร์ลิงค์ เอกสารใบเสร็จรับเงิน ที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ShareDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Share link receipt document.
      tags:
      - Receipt
      x-contentType: application/json
      x-accepts: application/json
  /cash-invoices:
    get:
      description: เรียกดูข้อมูลเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (เงินสด) ทั้งหมดในระบบ
      parameters:
      - description: 'Query current page document cash invoices. <br>Example Pattern:
          <ex>/cash-invoices?currentPage=1 </ex><ex>/cash-invoices?currentPage=1&pageSize=20</ex>'
        explode: true
        in: query
        name: currentPage
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document cash invoices list amount per page. <br>Example
          Pattern: <ex> /cash-invoices?pageSize=20 </ex>'
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document cash invoices list amount per page. <br>Example
          Pattern: <ex> /cash-invoices?sortBy=[{''name'':''publishedOn'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]
          </ex><ex>/cash-invoices?sortBy=[{''name'':''Contact.NameLocal'',''sortOrder'':''desc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/cash-invoices?sortBy=[{''name'':''Value'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/cash-invoices?sortBy=[{''name'':''Status'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex>'
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get list all cash invoices documents
      tags:
      - Cash Invoice
      x-accepts: application/json
    post:
      description: สร้างเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (ขายสด) เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รอดำเนินการ (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SimpleDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create cash invoices document.
      tags:
      - Cash Invoice
      x-contentType: application/json
      x-accepts: application/json
  /cash-invoices/with-payment:
    post:
      description: สร้างเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (ขายสด) พร้อมเก็บเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        เก็บเงินแล้ว (paid)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SimpleDocumentWithPaymentReceiving'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create cash invoices document with payment.
      tags:
      - Cash Invoice
      x-contentType: application/json
      x-accepts: application/json
  /cash-invoices/inline:
    post:
      description: สร้างเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (เงินสด) แบบส่วนลด หรือ ภาษี
        แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InlineDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create cash invoices document with discount and tax inline.
      tags:
      - Cash Invoice
      x-contentType: application/json
      x-accepts: application/json
  /cash-invoices/inline/with-payment:
    post:
      description: สร้างเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (เงินสด) แบบส่วนลด หรือ ภาษี
        แยกตามรายการสินค้าพร้อมเก็บเงิน <br>เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        เก็บเงินแล้ว (paid)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InlineDocumentWithPaymentReceiving'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create cash invoices document with discount and tax inline with payment.
      tags:
      - Cash Invoice
      x-contentType: application/json
      x-accepts: application/json
  /cash-invoices/{id}:
    delete:
      description: 'ลบ เอกสารใบกำกับ/ใบเสร็จรับเงิน (เงินสด) ตามเลขที่เอกสารที่ต้องการ
        <br> ** การลบเอกสาร เอกสารต้องอยู่ในสถานะ รอดำเนินการ '
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Delete cash invoices document.
      tags:
      - Cash Invoice
      x-accepts: application/json
    get:
      description: เรียกดูข้อมูลเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (เงินสด) ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get cash invoices document.
      tags:
      - Cash Invoice
      x-accepts: application/json
    put:
      description: แก้ไขข้อมูลเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน(เงินสด) ตามเลขที่เอกสารที่ต้องการเอกสารต้องเป็นสถานะ
        รอดำเนินการ (Awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Edit cash invoices document.
      tags:
      - Cash Invoice
      x-contentType: application/json
      x-accepts: application/json
  /cash-invoices/{id}/status/{statusId}:
    post:
      description: เปลี่ยนสถานะของเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน(เงินสด) สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ
        รอดำเนินการ (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: เปลี่ยนสถานะเอกสารได้ 3 สถานะ <br> awaiting = รอดำเนินการ <br>
          invoicedelivered = รอเก็บเงิน <br> void = ยกเลิก
        explode: false
        in: path
        name: statusId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Change status of cash invoices document.
      tags:
      - Cash Invoice
      x-accepts: application/json
  /cash-invoices/{id}/payment:
    post:
      description: เก็บเงิน เอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (เงินสด) เปลี่ยนสถานะเป็น
        เก็บเงินแล้ว
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId หรือ documentId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PaymentReceivingDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Change paid status of cash invoices document.
      tags:
      - Cash Invoice
      x-contentType: application/json
      x-accepts: application/json
  /cash-invoices/{id}/attachment:
    post:
      description: แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน
        (ขายสด) ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: documentId หรือ recordId ของเอกสารที่ต้องการแนบ
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: รูปแบบ file ที่ใช้แนบในเอกสารเป็นแบบ Binary
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Add Attachment to cash invoices document.
      tags:
      - Cash Invoice
      x-contentType: multipart/form-data
      x-accepts: application/json
  /cash-invoices/email-document:
    post:
      description: ส่งเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน(เงินสด) ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SendEmailCoppies'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Send email cash invoices document.
      tags:
      - Cash Invoice
      x-contentType: application/json
      x-accepts: application/json
  /cash-invoices/sharedocument:
    post:
      description: แชร์ลิงค์ เอกสารใบกำกับภาษี/ใบเสร็จรับเงิน(เงินสด) ที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ShareDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Share link cash invoices document.
      tags:
      - Cash Invoice
      x-contentType: application/json
      x-accepts: application/json
  /purchases-orders:
    get:
      description: เรียกดูข้อมูลเอกสารใบสั่งซื้อทั้งหมดในระบบ
      parameters:
      - description: 'Query current page document purchase orders. <br>Example Pattern:
          <ex>/purchases-orders?currentPage=1 </ex><ex>/purchases-orders?currentPage=1&pageSize=20</ex>'
        explode: true
        in: query
        name: currentPage
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document purchase orders list amount per page. <br>Example
          Pattern: <ex> /purchases-orders?pageSize=20 </ex>'
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document purchase orders list amount per page. <br>Example
          Pattern: <ex> /purchases-orders?sortBy=[{''name'':''publishedOn'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]
          </ex><ex>/purchases-orders?sortBy=[{''name'':''Contact.NameLocal'',''sortOrder'':''desc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/purchases-orders?sortBy=[{''name'':''Value'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/purchases-orders?sortBy=[{''name'':''Status'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex>'
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get list all purchase order documents.
      tags:
      - Purchase Order
      x-accepts: application/json
    post:
      description: สร้างเอกสารใบสั่งซื้อ เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รออนุมัติ (awaiting) <br>
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SimpleDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create purchase order document.
      tags:
      - Purchase Order
      x-contentType: application/json
      x-accepts: application/json
  /purchases-orders/inline:
    post:
      description: สร้างเอกสารใบสั่งซื้อ แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รออนุมัติ (awaiting) <br>
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InlineDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create purchase order document with discount and tax inline.
      tags:
      - Purchase Order
      x-contentType: application/json
      x-accepts: application/json
  /purchases-orders/{id}:
    delete:
      description: 'ลบ เอกสารใบสั่งซื้อ ตามเลขที่เอกสารที่ต้องการ <br> ** การลบเอกสาร
        เอกสารต้องอยู่ในสถานะ รออนุมัติ '
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Delete purchase order document.
      tags:
      - Purchase Order
      x-accepts: application/json
    get:
      description: เรียกดูข้อมูลเอกสารใบสั่งซื้อตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get purchase order document.
      tags:
      - Purchase Order
      x-accepts: application/json
    put:
      description: แก้ไขข้อมูลเอกสารใบสั่งซื้อ ตามเลขที่เอกสารที่ต้องการเอกสารต้องเป็นสถานะ
        รออนุมัติ (Awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Edit purchase order document.
      tags:
      - Purchase Order
      x-contentType: application/json
      x-accepts: application/json
  /purchases-orders/{id}/status/{statusId}:
    post:
      description: เปลี่ยนสถานะของเอกสารใบสั่งซื้อ สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ
        รออนุมัติ (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: เปลี่ยนสถานะเอกสารได้ 4 สถานะ <br> awaiting = รออนุมัติ <br>
          approved = อนุมัติ <br> approvedandprocessed = ดำเนินการแล้ว <br> void =
          ยกเลิก
        explode: false
        in: path
        name: statusId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Change status of purchase order document.
      tags:
      - Purchase Order
      x-accepts: application/json
  /purchases-orders/{id}/attachment:
    post:
      description: แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารใบสั่งซื้อตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: documentId หรือ recordId ของเอกสารที่ต้องการแนบ
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: รูปแบบ file ที่ใช้แนบในเอกสารเป็นแบบ Binary
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Add Attachment to purchase order document.
      tags:
      - Purchase Order
      x-contentType: multipart/form-data
      x-accepts: application/json
  /purchases-orders/email-document:
    post:
      description: ส่งเอกสารใบสั่งซื้อ ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SendEmailCoppies'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Send email purchase order document.
      tags:
      - Purchase Order
      x-contentType: application/json
      x-accepts: application/json
  /purchases-orders/sharedocument:
    post:
      description: แชร์ลิงค์ เอกสารใบสั่งซื้อที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ShareDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Share link purchase order document.
      tags:
      - Purchase Order
      x-contentType: application/json
      x-accepts: application/json
  /purchases:
    get:
      description: เรียกดูข้อมูลเอกสารใบรับสินค้าทั้งหมดในระบบ
      parameters:
      - description: 'Query current page document purchases. <br>Example Pattern:
          <ex>/purchases?currentPage=1 </ex><ex>/purchases?currentPage=1&pageSize=20</ex>'
        explode: true
        in: query
        name: currentPage
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document purchases list amount per page. <br>Example Pattern:
          <ex> /purchases?pageSize=20 </ex>'
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document purchases list amount per page. <br>Example Pattern:
          <ex> /purchases?sortBy=[{''name'':''publishedOn'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]
          </ex><ex>/purchases?sortBy=[{''name'':''Contact.NameLocal'',''sortOrder'':''desc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/purchases?sortBy=[{''name'':''Value'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/purchases?sortBy=[{''name'':''Status'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex>'
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get list all receiving inventory documents.
      tags:
      - Receiving Inventory
      x-accepts: application/json
    post:
      description: สร้างเอกสารใบรับสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รออนุมัติ (awaiting) <br>
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SimpleDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create receiving inventory document.
      tags:
      - Receiving Inventory
      x-contentType: application/json
      x-accepts: application/json
  /purchases/with-payment:
    post:
      description: สร้างเอกสารใบรับสินค้า พร้อมชำระเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        ชำระเงินแล้ว (paid)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SimpleDocumentWithPaymentPaid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create receiving inventory document with payment.
      tags:
      - Receiving Inventory
      x-contentType: application/json
      x-accepts: application/json
  /purchases/inline:
    post:
      description: สร้างเอกสารใบรับสินค้า แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รออนุมัติ (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InlineDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create receiving inventory document with discount and tax inline.
      tags:
      - Receiving Inventory
      x-contentType: application/json
      x-accepts: application/json
  /purchases/inline/with-payment:
    post:
      description: สร้างเอกสารใบรับสินค้า แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า พร้อมชำระเงิน
        เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ ชำระเงินแล้ว (paid)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InlineDocumentWithPaymentPaid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create receiving inventory document with discount and tax inline with
        payment.
      tags:
      - Receiving Inventory
      x-contentType: application/json
      x-accepts: application/json
  /purchases/{id}:
    delete:
      description: 'ลบ เอกสารใบรับสินค้า ตามเลขที่เอกสารที่ต้องการ <br> ** การลบเอกสาร
        เอกสารต้องอยู่ในสถานะ รออนุมัติ '
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Delete receiving inventory document.
      tags:
      - Receiving Inventory
      x-accepts: application/json
    get:
      description: เรียกดูข้อมูลเอกสารใบรับสินค้าตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get receiving inventory document.
      tags:
      - Receiving Inventory
      x-accepts: application/json
    put:
      description: แก้ไขข้อมูลเอกสารใบรับสินค้า ตามเลขที่เอกสารที่ต้องการเอกสารต้องเป็นสถานะ
        รออนุมัติ (Awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Edit receiving inventory document.
      tags:
      - Receiving Inventory
      x-contentType: application/json
      x-accepts: application/json
  /purchases/{id}/status/{statusId}:
    post:
      description: เปลี่ยนสถานะของเอกสารใบรับสินค้า สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ
        รออนุมัติ (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: เปลี่ยนสถานะเอกสารได้ 3 สถานะ <br> awaiting = รออนุมัติ <br>
          approved = อนุมัติ <br> void = ยกเลิก
        explode: false
        in: path
        name: statusId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Change status of receiving inventory document.
      tags:
      - Receiving Inventory
      x-accepts: application/json
  /purchases/{id}/payment:
    post:
      description: ขำระเงิน เอกสารใบรับสินค้าเปลี่ยนสถานะเป็น ชำระเงินแล้ว
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: ID เอกสารใช้ recordId หรือ documentId
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PaymentPaidDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Change paid status of receiving inventory document.
      tags:
      - Receiving Inventory
      x-contentType: application/json
      x-accepts: application/json
  /purchases/{id}/attachment:
    post:
      description: แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารใบรับสินค้าตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      - description: documentId หรือ recordId ของเอกสารที่ต้องการแนบ
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: รูปแบบ file ที่ใช้แนบในเอกสารเป็นแบบ Binary
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Add Attachment to receiving inventory document.
      tags:
      - Receiving Inventory
      x-contentType: multipart/form-data
      x-accepts: application/json
  /purchases/email-document:
    post:
      description: ส่งเอกสารใบรับสินค้า ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SendEmailCoppies'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Send email receiving inventory document.
      tags:
      - Receiving Inventory
      x-contentType: application/json
      x-accepts: application/json
  /purchases/sharedocument:
    post:
      description: แชร์ลิงค์ เอกสารใบรับสินค้าที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ShareDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Share link receiving inventory document.
      tags:
      - Receiving Inventory
      x-contentType: application/json
      x-accepts: application/json
  /expenses:
    get:
      description: เรียกดูข้อมูลเอกสารค่าใช้จ่ายทั้งหมดในระบบ
      parameters:
      - description: 'Query current page document expenses. <br>Example Pattern: <ex>/expenses?currentPage=1
          </ex><ex>/expenses?currentPage=1&pageSize=20</ex>'
        explode: true
        in: query
        name: currentPage
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document expenses list amount per page. <br>Example Pattern:
          <ex> /expenses?pageSize=20 </ex>'
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          type: integer
        style: form
      - description: 'Query document expenses list amount per page. <br>Example Pattern:
          <ex> /expenses?sortBy=[{''name'':''publishedOn'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]
          </ex><ex>/expenses?sortBy=[{''name'':''Contact.NameLocal'',''sortOrder'':''desc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/expenses?sortBy=[{''name'':''Value'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex><ex>/expenses?sortBy=[{''name'':''Status'',''sortOrder'':''asc''},{''name'':''documentSerial'',''sortOrder'':''desc''}]</ex>'
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllExpenseDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Get list all expenses documents.
      tags:
      - Expenses
      x-accepts: application/json
    post:
      description: สร้างเอกสารค่าใช้จ่าย เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รอดำเนินการ (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ExpenseSimpleDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseSimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create expenses document.
      tags:
      - Expenses
      x-contentType: application/json
      x-accepts: application/json
  /expenses/with-payment:
    post:
      description: สร้างเอกสารค่าใช้จ่าย พร้อมชำระเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        ชำระเงินแล้ว (paid)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ExpenseSimpleDocumentPaymentPaid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseSimpleDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create expenses document with-payment.
      tags:
      - Expenses
      x-contentType: application/json
      x-accepts: application/json
  /expenses/inline:
    post:
      description: สร้างเอกสารค่าใช้จ่าย แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ
        รอดำเนินการ (awaiting)
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          default: Bearer accessToken
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ExpenseInlineDocument'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseInlineDocumentResponse'
          description: 200 response
        "401":
          description: 401 response
        "500":
          description: 500 response
      summary: Create expenses document with discount and tax inline.
      tags:
      - Expenses
      x-contentType: application/json
      x-accepts: application/json
  /expenses/inline/with-payment:
    post:
[...]
